<div>
    <div>
        <img class="center-img" src="https://avatars3.githubusercontent.com/u/17787927?s=460&v=4" width="250" height="250" alt="Avatar">
    </div>

    <div>
        <h3>GUILHERME MELO</h3>
    </div>
    <div>
        <h3>
            BELO HORIZONTE, MG - BRASIL · (31) 99407-5547 · GUILHERMEARMELO@GMAIL.COM
        </h3>
    </div>
    <div>
        <br><br>
        <h5 class="center-text">
            Bem vindo(a)! Sou Guilherme Melo, desenvolvedor de software, amante de programação e desenvolvimento de tecnologias. <br>Confira abaixo minha formação e mais recentes trabalhos e entre em contato!
        </h5>
    </div>
</div>